#about{
    padding-top: 10vh;
}

#split{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

#profilePic{
    width: 360px;
    height: 380px;
    border-radius: 6px;
    background-image: url('../assets/img/profilePic.jpg');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(0,0,0, .2);
}

#aboutSectionColumnLeft{
    /* background-color: red; */
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15vw;
    z-index: 5;
}

#aboutSectionColumnRight{
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15vw;
    z-index: 5;
}

#bioContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    width: 70%
}

#introList{
    list-style: none;
    font-size: 20px;
    margin: 0
}

#introList li{
    margin-bottom: 11%;
    margin-top: 11%;
}

#introList li div{
    display: flex;
    flex-direction: row;
}

#introList li div i{
    margin-right: 25px;
    color: var(--accent)
}

#workHistorySection{
    width: 65vw;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, .1);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(0,0,0, .2);
}

#workHistoryList li{
    list-style: none;
    margin-bottom: 30px;
}

#workHistoryList li span{
    font-size: 25px;
}

#educationSection{
    width: 65vw;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, .1);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(0,0,0, .2);
}


#educationList li{
    list-style: none;
}

#educationList li span{
    font-size: 25px;
}

#icon{
    margin-bottom: 30px;
}

.secondaryLine{
    font-size: 18px;
    margin-top: 5px;
}

/* Some responsive layout cleanup */
@media screen and (max-width: 900px){
    #split{
        flex-direction: column;
    }

    #aboutSectionColumnLeft{
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        width: 100vw;
        margin: 0
    }

    #aboutSectionColumnRight{
        margin: 0;
        margin-top: 5%;
    }

}