#landingContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#headerSection{
    display: inline-block;
    z-index: 5;
    text-align: left;
    font-family: var(--font);
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
}

#period{
    color: var(--accent);
    font-size: 90px;
}

#titleSeparator{
    width:10%;   
    border: none;
    height: 4px;
    margin-left: 0;
    background-color: var(--secondaryColor);
    margin-bottom: 20;
    padding: 0;
   
}

#name{
    font-size: 130px;
    font-weight: 400;
    width: fit-content;
    color: var(--textColor);
    text-transform: uppercase;
    letter-spacing: default;
    line-height: 140px;
}

#hello{
    font-size: 45px;
    font-weight: 400;
    color: var(--textColor);
    letter-spacing: 1px;
}

#title{
    font-size: 32px;
    font-weight: 400;
    color: var(--textColor)
    
}

#downPrompt{
    color: var(--accent);
    transform: translate(0, 18vh);
}

@media screen and (max-width: 940px){
    
    #headerSection{
        width: 80vw;
        transform: translate(0, -5vh);
    }

    #period{
        display: none;
    }

    #name{
        font-size: 90px;
        line-height: 105px;
    }

    #hello{
        font-size: 35px;
    }

    #title{
        font-size: 28px;
    }

    #downPrompt{
        color: var(--accent);
        transform: translate(0, 15vh);
    }

}

@media screen and (max-width: 500px){
    
    #downPrompt{
        transform: translate(0, 5vh);
    }

}
