#headerSection{
    z-index: 5;
    width:70vw;
    text-align: left;
    transform: translate(0, -10%);
}

#name{
    font-size: 115px;
    font-weight: 400;
    color: var(--textColor);
    text-transform: uppercase;
    letter-spacing: 5px;
}

#name{
    color: var(--accent);
}

#hello{
    font-size: 30px;
    font-weight: 400;
    color: var(--textColor);
}

#title{
    font-size: 30px;
    font-weight: 400;
    font-style: oblique;
    color: var(--textColor);
    
}

@media screen and (max-width: 900px){
    
    #headerSection{
        width: 80vw
    }

    #name{
        font-size: 105px;
        line-height: 130px;
    }

}

@media screen and (max-width: 670px){
    
    #headerSection{
        width: 80vw
    }

    #name{
        font-size: 80px;
        line-height: 100px;
    }

    #title{
        font-size: 30px;
    }

}