:root{

    /* original red and black */
    /* --accent: #F05454;
    --navbarColor: #171717;
    --backgroundColor: #171717; */


    /* kinda cool */
    /* --accent: #fff;
    --backgroundColor: #A0AECD;
    --textColor: #333 */

    --accent: #5cdb95;
    --backgroundColor: #131313;
    --textColor: #fff
}

html{
    scroll-behavior: smooth;
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family: 'Manrope', sans-serif;
    color: var(--textColor);
    margin: 0;
    padding: 0;
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}

.fullPage{
    /* background-color: #EEEEEE; */
    background-color: var(--backgroundColor);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    overflow-x: none;
}

.sectionHeader{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.sectionHeader span{
    color: var(--accent)
}

.accent{
    color: var(--accent)
}

.pageSpacing{
    background-color: var(--backgroundColor);
    width: 100vw;
    height: 10vh;
}