:root{

    --accent: #277ce4;
    --backgroundColor: #ffffff;
    --textColor: #000;
    --secondaryColor: var(--accent);
    --font: proxima-nova, sans-serif;
}


html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
    font-style: normal;
    font-family: var(--font);
    font-weight: 300;
    color: var(--textColor);
    margin: 0;
    padding: 0;
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}

.fullPage{
    background-color: var(--backgroundColor);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.fullPage::-webkit-scrollbar {
    display: none;
}

.sectionHeader{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 400;
    font-family: var(--font);
}



.sectionHeader span{
    color: var(--accent)
}

.accent{
    color: var(--accent)
}

.pageSpacing{
    background-color: var(--backgroundColor);
    width: 100vw;
    height: 10vh;
}