#navbar{
    position: fixed;
    right: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: top 0.3s;
    background-color: var(--backgroundColor);
    box-sizing: border-box;
    padding-bottom: 5px;
}

#navbar a{
    display: grid;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 5px;
    color: var(--textColor);
    transition: .25s;
    margin-left: 3%;
    margin-right: 3%;
    text-transform: uppercase;
}

#navbar a:hover{
    color: #333;
    cursor: pointer;
    transition: .25s;
}

#resumeButton {
    margin-top: 1%;
    border: 3px solid var(--accent);
    border-radius: 2px;
    padding: 8px;
}

#resumeButton:hover{
    background-color: var(--accent);
    font-weight: bold;
}

/* If the screen is too small, don't disaply the navbar */
@media screen and (max-width: 670px){
    
    #navbar{
        display: none;
    }

}