#navbar{
    position: fixed;
    right: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: top 0.3s;
    background-color: var(--backgroundColor);
    background-color: var(--backgroundColor);
    padding-bottom: 5px;
    font-family: brandon-grotesque, sans-serif;
}

#navbar a:not(#resumeButton){
    display: grid;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 5px;
    color: var(--textColor);
    transition: .25s;
    margin-left: 3%;
    margin-right: 3%;
    text-transform: uppercase;
}

#navbar a:hover{
    cursor: pointer;
    transition: .25s;
    color: #333;
}

#resumeButton {
    transition: .25s;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 5px;
    border: 3px solid var(--secondaryColor);
    border-radius: 2px;
    padding: 8px;
    text-transform: uppercase;
    color: var(--secondaryColor);
}

#resumeButton:hover{
    background-color: var(--secondaryColor);
    color: var(--textColor)
}

#resumeButton a:hover{
    color:var(--textColor)
}

/* If the screen is too small, don't disaply the navbar */
@media screen and (max-width: 670px){
    
    #navbar{
        display: none;
    }

}