#projects{
    padding-top: 10vh;
}

.rightShowcase {
    width: 50vw;
    height: 55vh;
    background-color: rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: row;
    margin-top: 13%;
    z-index: 0;
    transform: translate(15vw, 0);
}

.leftShowcase {
    width: 50vw;
    height: 55vh;
    background-color: rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: row;
    margin-top: 13%;
    z-index: 0;
    transform: translate(-15vw, 0);
}

#projectLeft{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

#projectLeft h3{
    font-size: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 10%;
}

#projectLeft p{
    width: 80%;
    margin-left: 10%;
    font-size: 15px;
}

#projectRight{
    height: 100%;
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#projectRight img{
    width: 120%;
    height: 120%;
    object-fit: cover;
}

#otherProjectsHeader{
    margin-bottom: 50px;
}

#otherProjectsSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    width: 50vw;
}

#projectsList{
    list-style: none;
}

#projectsList li{
    margin-bottom: 5%;
}

#projectsList li span{
    font-size: 24px;
}
.githubLink{
    transition: .25s;
    color: var(--accent);
}

.githubLink:hover{
    transition: .25s;
    color: rgba(0, 0, 0, .1)
}