#projects{
    padding-top: 10vh;
}

.rightShowcase {
    width: 65vw;
    height: 60vh;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    z-index: 0;
    transform: translate(15vw, 0);
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(0,0,0, .2);
}

.leftShowcase {
    width: 65vw;
    height: 60vh;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    z-index: 0;
    transform: translate(-15vw, 0);
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(0,0,0, .2);
    
}

#projectLeft{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

#projectLeft h3{
    font-size: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 10%;
    margin-bottom: 5%;
}

#projectLeft p{
    width: 80%;
    margin-left: 10%;
    font-size: 17px;
}

#projectRight{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden
}

#projectRight img{
    height: 100%;
    object-fit: contain;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#otherProjectsHeader{
    margin-bottom: 50px;
}

#otherProjectsSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 60vw;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(0,0,0, .2);
    padding-right: 25px;
    
}

#projectsList{
    width: 95%;
    list-style: none;
}

#projectsList li{
    margin-top: 5%;
    margin-bottom: 5%;
}

#projectsList li span{
    font-size: 24px;
}

#projectsList .githubLink{
    margin-left: 5px;
}

.githubLink{
    transition: .25s;
    color: var(--accent);
}

.githubLink:hover{
    transition: .25s;
    color: rgba(0, 0, 0, .2)
}

.githubLinkDisabled{
    margin-left: 5px;
    color: rgba(0, 0, 0, .05);
}

.githubLinkDisabled:hover{
    color: rgba(0, 0, 0, .05)
}

@media screen and (max-width: 1200px){
    
    .leftShowcase, .rightShowcase{
        transform: translate(0, 0);
        margin-top: 20vh;
        width: 90vw
    }
}

@media screen and (max-width: 650px){
    
    #projectLeft{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
    }

    #projectRight{
        display: none
    }

    #projectsList li{
        margin-top: 15%;
        margin-bottom: 15%;
    }

}